{% extends "default.html" %}
{% block content %}
<section id="contact">
    <div class="container">
    <br>
      <h2 class="text-center text-uppercase text-secondary mb-0">Contáctanos</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <form name="sentMessage" id="contactForm" novalidate="novalidate">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Nombre</label>
                <input class="form-control" id="Nombre" type="text" placeholder="Nombre" required="required" data-validation-required-message="Por favor ingresa tu nombre.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Correo Electrónico</label>
                <input class="form-control" id="email" type="email" placeholder="Correo Electrónico" required="required" data-validation-required-message="Por favor ingresa tu correo.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Teléfono</label>
                <input class="form-control" id="phone" type="tel" placeholder="Teléfono" required="required" data-validation-required-message="Por favor ingresa tu teléfono.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Mensaje</label>
                <textarea class="form-control" id="message" rows="5" placeholder="Mensaje" required="required" data-validation-required-message="Por favor ingresa tu mensaje."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="button" class="btn btn-primary btn-xl" id="sendMessageButton" onclick="getData()">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
        function getData(){
        message="Gracias por su envio!";
        var nombre = $('#Nombre').val();
        var email = $('#email').val();
        var phone = $('#phone').val();
        var message = $('#message').val();
        var mensaje = JSON.stringify({
                "Nombre": nombre,
                "email": email,
                "phone": phone,
                "message":message
            });
          $.ajax({
            url:'/envmensaje',
            type:'POST',
            contentType: 'application/json',
            data : mensaje,
            dataType:'json',
            success: function(response){
            },
            error: function(response){
                //alert(JSON.stringify(response));
            }
        });
        document.getElementById("Nombre").value="";
        document.getElementById("email").value="";
        document.getElementById("phone").value="";
        document.getElementById("message").value="";
        alert(message);
          }
  </script>
{% endblock content %}

